/*body {
  background-image: url(../images/electricguitar.jpg);
  background-attachment: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/
/*
.jumbotron {
  height: 100vh;
  width: auto;
  background-image: url(../images/electricguitar.jpg);
  background-repeat: no-repeat;
  background-attachment: 100% 100%;
  color: white;
}*/

body {
  background-image: url(../images/electricguitar.jpg);
  width: 100%;
}
