html {
	height: 100%;
}

body {
	background: #000000;
	background-size: cover;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #ffffff;
	padding: 10px;
}

* {
	box-sizing: border-box;
}

/* General Settings */

img {
	height: 200px;
	padding: 0 0 10px 0;
}

.btn-vote,
.btn-compete,
.btn-submit {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ffffff;
  width: 150px;
}

.btn-vote:hover,
.btn-vote:focus,
.btn-vote:active,
.btn-vote.active,
.open .dropdown-toggle.btn-vote {
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
  width: 150px;
}

.btn-compete:hover,
.btn-compete:focus,
.btn-compete:active,
.btn-compete.active,
.open .dropdown-toggle.btn-compete {
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
  width: 150px;
}

.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active,
.btn-submit.active,
.open .dropdown-toggle.btn-submit {
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ff0000;
  width: 150px;
}

.btn-vote:active,
.btn-vote.active,
.open .dropdown-toggle.btn-vote {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ffffff;
  width: 150px;
}

.btn-compete:active,
.btn-compete.active,
.open .dropdown-toggle.btn-compete {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ffffff;
  width: 150px;
}

.btn-submit:active,
.btn-submit.active,
.open .dropdown-toggle.btn-submit {
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ffffff;
  width: 150px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  background-color: #BDBDBD;
  height: 200px;
  width: 200px;
  text-align: center;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  text-align: center;
}

audio {
	width: 160px;
	margin:10px;
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
    background: red;
}

/*Header*/

#logo {
	background: black;
	padding: 10px 0 10px 0;
}

/* Menu */

.navbar-default {
  background-color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ff0000;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ff0000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ff0000;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ff0000;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ff0000;
}

/*Battle Artists*/

.artists {
	padding: 10px 0 10px 0;
}


/*.navbar-default {
    background-color: #fff;
    border-style: none;
}

.img-responsive {
    margin-bottom: 20px;
}
.panel-primary {
	padding: 0px;
}
.artistList{
	right: 5px;
}*/

@media (max-width: 767px) {

/* Menu */

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ff0000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ff0000;
    background-color: #000000;
  }
}
